@{
    ViewData["Title"] = "Home Page";
}

<div id="app" style="width: 100%;">
    <nav-bar></nav-bar>
    <router-view></router-view>
    <foot-bar></foot-bar>
</div>
 <script src="https://unpkg.com/vue"></script>
 <script src="~/dist/bundle.js"></script>
